* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.father {
  width: 100vw;
  height: 50vh;
  display: flex;
}

.box {
  /* height: 200px; */
  font-size: 25px;
  color: white;
}

.box:first-child {
  min-width: 400px;
  flex: 1;
  background-color: tomato;
}

.box:last-child {
  flex: 2;
  background-color: teal;
}
